@font-face {
  font-family: global-iconfont;
  src: url(../font/font_1404888168_2057645.eot);
  src: url(../font/font_1404888168_2057645.eot?#iefix) format("embedded-opentype"), url(../font/font_1404888168_2057645.woff) format("woff"), url(../font/font_1404888168_2057645.ttf) format("truetype"), url(../font/font_1404888168_2057645.svg#uxiconfont) format("svg");
}
.site-nav .site-nav-icon {
  font-family: global-iconfont !important;
  font-size: 12px;
  font-style: normal;
  margin-top: -3px\9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaleFont type;
  margin-right: 5px;
  _line-height: 33px;
  color: #9c9c9c;
}

.site-nav .site-nav-menu-hd a:hover .site-nav-icon {
  color: #f40;
}

.site-nav .site-nav-bd-r .site-nav-icon {
  width: 12px;
}

.site-nav .site-nav-icon-highlight {
  color: #f40;
}

.site-nav .site-nav-arrow {
  display: block;
  float: left;
  width: 12px;
  height: 6px;
  line-height: 6px;
  overflow: hidden;
  margin-top: 16px;
}

.site-nav .site-nav-arrow .site-nav-icon {
  display: block;
  margin-top: -4px;
  margin-right: 20px;
}

.tb-ifont {
  font-family: iconfont !important;
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: iconfont;
  src: url(../font/font_403341_n8tj33yn5peng66r.eot);
  src: url(../font/font_403341_n8tj33yn5peng66r.eot?#iefix) format("embedded-opentype"), url(../font/font_403341_n8tj33yn5peng66r.woff) format("woff"), url(../font/font_403341_n8tj33yn5peng66r.ttf) format("truetype"), url(../font/font_403341_n8tj33yn5peng66r.svg#iconfont) format("svg");
}
.tbh-icon {
  background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
}

.headline h3 {
  background: url(//img.alicdn.com/tfs/TB1KbhkbUgQMeJjy0FeXXXOEVXa-129-26.png) 0 14px no-repeat;
}

.tbh-member .tbh-icon {
  background-position: 0 -572.5px;
}

.tbh-member .club .tbh-icon {
  background-position: 0 -528px;
}

.tbh-conve .conve-item-1 .tbh-icon {
  background-position: 0 0;
}

.tbh-conve .conve-item-2 .tbh-icon {
  background-position: 0 -85px;
}

.tbh-conve .conve-item-3 .tbh-icon {
  background-position: 0 -44px;
}

.tbh-conve .conve-item-4 .tbh-icon {
  background-position: 0 -132px;
}

.tbh-conve .conve-item-5 .tbh-icon {
  background-position: 0 -176px;
}

.tbh-conve .conve-item-6 .tbh-icon {
  background-position: 0 -220px;
}

.tbh-conve .conve-item-7 .tbh-icon {
  background-position: 0 -264px;
}

.tbh-conve .conve-item-8 .tbh-icon {
  background-position: 0 -308px;
}

.tbh-conve .conve-item-9 .tbh-icon {
  background-position: 0 -352px;
}

.tbh-conve .conve-item-10 .tbh-icon {
  background-position: 0 -396px;
}

.tbh-conve .conve-item-11 .tbh-icon {
  background-position: 0 -440px;
}

.tbh-conve .conve-item-12 .tbh-icon {
  background-position: 0 -484px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .tbh-icon {
    background: url(https://img.alicdn.com/tfs/TB1tyFSXm_I8KJjy0FoXXaFnVXa-48-1194.png) 0 0 no-repeat;
    background-size: 24px 597px;
  }

  .headline h3 {
    background-image: url(//img.alicdn.com/tfs/TB1x3nNX6uhSKJjSspmXXcQDpXa-258-52.png);
    background-size: 129px 26px;
  }
}
@font-face {
  font-family: tb-toolbar-iconfont;
  src: url("//at.alicdn.com/t/font_1418875995_7687602.eot");
  src: url("//at.alicdn.com/t/font_1418875995_7687602.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1418875995_7687602.woff") format("woff"), url("//at.alicdn.com/t/font_1418875995_7687602.ttf") format("truetype"), url("//at.alicdn.com/t/font_1418875995_7687602.svg#iconfont") format("svg");
}
.tb-toolbar-item-icon {
  text-align: center;
  width: 35px;
  line-height: 46px;
  font-family: tb-toolbar-iconfont;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: tb-iconfont;
  src: url("//at.alicdn.com/t/font_1444889156_383075.eot");
  src: url("//at.alicdn.com/t/font_1444889156_383075.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1444889156_383075.woff") format("woff"), url("//at.alicdn.com/t/font_1444889156_383075.ttf") format("truetype"), url("//at.alicdn.com/t/font_1444889156_383075.svg#iconfont") format("svg");
}
.tb-iconfont {
  font-family: tb-iconfont !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaleFont type;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: iconfont;
  src: url("//at.alicdn.com/t/font_1451959379_8626566.eot");
  src: url("//at.alicdn.com/t/font_1451959379_8626566.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1451959379_8626566.woff") format("woff"), url("//at.alicdn.com/t/font_1451959379_8626566.ttf") format("truetype"), url("//at.alicdn.com/t/font_1451959379_8626566.svg#iconfont") format("svg");
}
.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: regiconfont;
  src: url("//at.alicdn.com/t/font_1408947319_9759417.eot");
  src: url("//at.alicdn.com/t/font_1408947319_9759417.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1408947319_9759417.woff") format("woff"), url("//at.alicdn.com/t/font_1408947319_9759417.ttf") format("truetype"), url("//at.alicdn.com/t/font_1408947319_9759417.svg#iconfont") format("svg");
}
.page .iconfont, .msg .iconfont, .ks-dialog .iconfont, .pw-tip .iconfont, .gmsg .iconfont {
  font-family: regiconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.gmsg .iconfont {
  display: inline;
  float: left;
  font-size: 28px;
  line-height: 32px;
  margin-left: -35px;
}

body {
  color: #3c3c3c;
}

.wrap {
  width: 1190px;
  margin: 0 auto;
}

a {
  color: #3c3c3c;
}

.header_top {
  background: #f5f5f5;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eee;
}

.header_top a {
  color: #6c6c6c;
}

.header_top .wrap > ul > li > a:hover {
  color: #ff5000;
}
.header_top .wrap > ul > li > a:hover .site-nav-icon {
  color: #ff5000;
}

.header_top .site-nav-bd-l {
  float: left;
}

.header_top .site-nav-bd-r {
  float: right;
}

.header_top .site-nav-bd-l > li {
  float: left;
  padding: 0 6px;
}

.site-nav-bd-l .site-nav-switch > span {
  float: left;
}

.site-nav-bd-l .site-nav-switch .site-nav-region {
  margin-right: 7px;
}

.site-nav-switch {
  position: relative;
}
.site-nav-switch .region-list {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 8px 0;
  left: -1px;
  top: 35px;
  border: 1px solid #eee;
  border-top: none;
  background: #fff;
  max-height: 270px;
  overflow-y: scroll;
}
.site-nav-switch .region-list .region_item {
  width: 242px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav-switch .region-list .region_item:hover {
  background: #f5f5f5;
}

.site-nav-switch:hover {
  background: #fff;
}
.site-nav-switch:hover .region-list {
  display: block;
}

.site-nav-bd-l .site-nav-sign a {
  margin-right: 7px;
}

.site-nav-bd-l .site-nav-sign .h {
  color: #f22e00 !important;
}

.header_top .site-nav-bd-r > li > a {
  float: left;
}

.header_top .site-nav-bd-r > li {
  float: left;
  padding: 0 6px;
  position: relative;
}

.header_top .site-nav-bd-r .site-nav-pipe {
  padding: 0 5px;
  color: #ddd;
}

.header_top .site-nav-bd-r > li > a {
  margin-right: 7px;
}

.header_top .site-nav-bd-r > li > a .site-nav-icon {
  display: block;
  height: 35px;
  line-height: 35px;
  float: left;
}

.site-nav-bd-r > .xiala > ul {
  display: none;
  position: absolute;
  left: -1px;
  top: 35px;
  z-index: 11;
  padding: 8px 0;
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
}
.site-nav-bd-r > .xiala > ul li {
  display: block;
  padding: 0 5px;
  line-height: 28px;
  white-space: nowrap;
  color: #6c6c6c;
}

.site-nav-bd-r > .xiala > ul > li:hover {
  background: #f5f5f5;
}

.site-nav-bd-r > .xiala:hover {
  background: #fff;
}
.site-nav-bd-r > .xiala:hover ul {
  display: block;
}
.site-nav-bd-r > .xiala:hover .webnav {
  display: block;
}

.webnav {
  display: none;
  width: 1188px;
  overflow: hidden;
  position: absolute;
  right: -1px;
  left: auto;
  top: 35px;
  z-index: 11;
  min-height: 258px;
  line-height: normal;
  border: 1px solid #eee;
  border-top: none;
  background: #fff;
}
.webnav div {
  float: left;
  overflow: hidden;
  padding: 5px;
  width: 24%;
  border-right: 1px solid #eee;
}
.webnav div h4 {
  color: #fc4200;
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}
.webnav div li {
  width: 24%;
  float: left;
  padding-top: 5px;
  height: 25px;
  overflow: hidden;
}
.webnav div li a {
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 0 2px;
  padding: 0 8px;
  border-radius: 2px;
}
.webnav .zhuti h4 {
  color: #fc4200;
}
.webnav .zhuti li {
  width: 24%;
}
.webnav .zhuti li a:hover {
  background: #fc4200;
  color: #fff;
}
.webnav .tese h4 {
  color: #9fb838;
}
.webnav .tese li {
  width: 33%;
}
.webnav .tese li a:hover {
  background: #9fb838;
  color: #fff;
}
.webnav .aliapp h4 {
  color: #d75696;
}
.webnav .aliapp li {
  width: 33%;
}
.webnav .aliapp li a:hover {
  background: #d75696;
  color: #fff;
}
.webnav .tuijian {
  border-right: none;
}
.webnav .tuijian h4 {
  color: #2e9fdb;
}
.webnav .tuijian li {
  width: 49%;
}
.webnav .tuijian li a:hover {
  background: #2e9fdb;
  color: #fff;
}

.header_bot {
  background: #fff;
  width: 100%;
  padding-top: 10px;
}
.header_bot .wrap {
  width: 1140px;
  height: 60px;
  box-sizing: border-box;
}
.header_bot .wrap .header_logo {
  color: #f40;
  display: inline-block;
  float: left;
  text-decoration: none;
  font-size: 0;
  margin-top: 5px;
  cursor: pointer;
}
.header_bot .wrap .header_logo img {
  height: 38px;
  vertical-align: middle;
}
.header_bot .wrap .header_market {
  position: relative;
  float: left;
  margin: 14px 20px;
}
.header_bot .wrap .header_market .header_market_hd {
  position: relative;
  display: block;
  border: 1px solid #e2e2e2;
  padding-left: 8px;
  width: 62px;
  height: 18px;
  font: 12px/18px "\5b8b\4f53";
  line-height: 18px;
  color: #666;
  background: #fff;
}
.header_bot .wrap .header_market_icon {
  display: block;
  margin: 6px 5px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px;
  height: 6px;
}
.header_bot .wrap .header_market_icon em {
  position: absolute;
  top: 1px;
  left: 0;
  width: 0;
  height: 0;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #6c6c6c;
  border-style: solid;
  overflow: hidden;
  border-width: 3px 3px 0;
}
.header_bot .wrap .header_market_icon span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #f5f5f5;
  border-style: solid;
  overflow: hidden;
  border-width: 3px 3px 0;
}
.header_bot .wrap .header_market_bd {
  background: white;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 19px;
  width: 286px;
  border: 1px solid #e2e2e2;
  padding: 8px 0 8px 0;
  box-sizing: border-box;
}
.header_bot .wrap .header_market_bd dl {
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 0 15px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}
.header_bot .wrap .header_market_bd dt {
  float: left;
  font-weight: 700;
  line-height: 26px;
}
.header_bot .wrap .header_market_bd dd {
  float: left;
  margin-left: 10px;
  line-height: 26px;
}

.header_search {
  margin-top: 10px;
  float: right;
  width: 427px;
  position: relative;
}
.header_search .search_field {
  width: 280px;
  float: left;
  height: 30px;
  position: relative;
  overflow: hidden;
  background: #f40;
  z-index: 10;
}
.header_search .search_field .input_wrap {
  font-size: 12px;
  margin: 2px 0 0 2px;
  height: 26px;
  background: #fff;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
.header_search .search_field .input_wrap .search_input {
  font-size: 14px;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 3px;
  vertical-align: middle;
  border: 0 none;
  width: 100%;
  outline: 0;
  text-indent: 5px;
  color: #666;
  background: #fff;
}
.header_search .search_button {
  position: relative;
  float: right;
  background: #fff;
}
.header_search .search_button button {
  cursor: pointer;
  border: 0;
  font-size: 12px;
  float: left;
  width: 72px;
  height: 30px;
  background-color: #f40;
  color: #fff;
  margin-left: -1px;
}
.header_search .search_button .search_button_second {
  background-color: #ffe4d0;
  color: #f40;
  border: 1px solid #ffb086;
  margin-left: 3px;
}

.shop_header {
  width: 100%;
  height: 150px;
}
.shop_header a {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../images/shop_header.png) center center no-repeat;
}

.details {
  width: 1140px;
  height: 549px;
  margin: 10px auto 0;
  position: relative;
  color: #3c3c3c;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
}
.details .details_main {
  float: left;
  width: 100%;
  height: 200px;
}
.details .details_sidebar {
  float: left;
  width: 200px;
  margin-left: -200px;
}
.details .details_sidebar a {
  display: block;
}
.details .details_sidebar .sidebar_1 {
  border: 1px solid #ffe2a3;
  position: relative;
  z-index: 1;
}
.details .details_sidebar .sidebar_2 img {
  margin-top: -1px;
}

.details_mainpic {
  position: relative;
}
.details_mainpic img {
  width: 400px;
  height: 400px;
}
.details_mainpic .smallscale {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  background: url("//gtms01.alicdn.com/tps/i4/T12pdtXaldXXXXXXXX-2-2.png") repeat scroll 0 0 transparent;
  cursor: move;
}
.details_mainpic .bigscale {
  display: none;
  overflow: hidden;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 410px;
  top: 0;
  background: red;
  z-index: 20;
}
.details_mainpic .bigscale img {
  width: 800px;
  height: 800px;
  position: absolute;
}

.details_info {
  margin-right: 198px;
  border-right: 1px solid #e8e8e8;
}
.details_info .details_info_l {
  float: left;
  padding: 20px 0 20px 20px;
  width: 400px;
  position: relative;
}
.details_info .details_info_l .details_gallery {
  margin-bottom: 18px;
  width: 400px;
}
.details_info .details_info_l .details_social {
  float: left;
  width: 100%;
  position: relative;
}
.details_info .details_info_l .details_social li {
  float: left;
  position: relative;
  margin-right: 25px;
  height: 22px;
  line-height: 22px;
}
.details_info .details_info_l .details_social .social_split {
  border-left: 1px solid #ccc;
  height: 16px;
  line-height: 16px;
  margin-top: 3px;
}
.details_info .details_info_l .details_social li a {
  padding-left: 0;
  height: auto;
  color: #6C6C6C;
  background: 0 0;
}
.details_info .details_info_l .details_social li a .tb-icon {
  float: left;
  margin: 4px 5px 0 0;
  width: 16px;
  height: 16px;
  background: url(../images/details_icon.png);
}
.details_info .details_info_l .details_social li a em {
  font-style: normal;
}
.details_info .details_info_l .details_social .social_fav .tb-icon {
  background-position: -120px 0;
}
.details_info .details_info_l .details_social .social_share .tb-icon {
  background-position: -100px 1px;
}
.details_info .details_info_r {
  float: left;
  padding: 0 20px 20px 0;
  width: 498px;
}
.details_info .details_info_r .info_r_wrap {
  padding-left: 18px;
}
.details_info .details_info_r .info_r_top {
  padding-top: 20px;
  border-bottom: 1px dotted #d9d9d9;
  margin-bottom: 10px;
}
.details_info .details_info_r .details_goumai {
  position: relative;
  margin: -9px 0 29px -9px;
  padding: 9px 0 0 9px;
  border: 1px solid #fff;
  padding-left: 18px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.goumai_wrap .goumai_amount {
  margin-bottom: 10px;
  line-height: 28px;
}
.goumai_wrap .goumai_amount dt {
  float: left;
  margin-right: 5px;
  width: 55px;
  color: #6c6c6c;
}
.goumai_wrap .goumai_amount dd > span {
  float: left;
  position: relative;
}
.goumai_wrap .goumai_amount dd > span a {
  display: block;
  float: left;
  width: 26px;
  height: 26px;
  border: 1px solid #ccc;
  line-height: 26px;
  padding: 0;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  background-color: #ededed;
}
.goumai_wrap .goumai_amount dd > span .details_reduce {
  border-right: 0 !important;
}
.goumai_wrap .goumai_amount dd > span .details_reduce_disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: #ededed;
}
.goumai_wrap .goumai_amount dd > span .details_increase {
  border-left: 0 !important;
  margin-right: 8px;
}
.goumai_wrap .goumai_amount dd > span .details_increase_disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: #ededed;
}
.goumai_wrap .goumai_amount dd > span input {
  float: left;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #666;
  border: 1px solid #CCC;
  outline: 0;
  background: #FFF;
}
.goumai_wrap .goumai_amount dd em {
  font-style: normal;
  line-height: 28px;
}

.goumai_action {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.goumai_action a {
  display: block;
  cursor: pointer;
  width: 134px;
  height: 38px;
  text-align: center;
  font-family: "Hiragino Sans GB","microsoft yahei",sans-serif;
  font-size: 16px;
  line-height: 38px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}
.goumai_action .btn_buy {
  margin-right: 9px;
  float: left;
}
.goumai_action .btn_buy a {
  color: #e5511d;
  border-color: #f0cab6;
  background: #ffe4d0;
}
.goumai_action .btn_add {
  float: left;
}
.goumai_action .btn_add a {
  width: 180px;
  color: #FFF;
  border-color: #F40;
  background: #F40;
}
.goumai_action .btn_add a i {
  vertical-align: bottom;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
}

.details_extra {
  padding-left: 10px;
}
.details_extra dt {
  float: left;
  width: 60px;
  height: 22px;
  line-height: 22px;
  color: #6C6C6C;
}
.details_extra dd {
  overflow: hidden;
}
.details_extra dd a {
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  height: 22px;
  line-height: 22px;
  color: #6C6C6C;
}
.details_extra dd a img {
  float: left;
  margin: 4px 7px 0 0;
  height: 16px;
  vertical-align: middle;
}

.details_gallery .details_mainpic {
  width: 400px;
  height: 400px;
  position: relative;
  margin-bottom: 15px;
}
.details_gallery .details_mainpic .zoom-icon {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 18px !important;
  color: #ccc;
  z-index: 2;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: default;
}
.details_gallery .details_thumb li {
  display: inline;
  float: left;
  margin-right: 9px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  overflow: hidden;
}
.details_gallery .details_thumb li div {
  width: 50px;
  height: 50px;
}
.details_gallery .details_thumb li img {
  width: 50px;
  height: 50px;
}
.details_gallery .details_thumb .selected {
  border-color: #f40;
}

.toolbar {
  position: fixed;
  z-index: 15;
  width: 35px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #eee;
  font-family: tahoma,arial,'Hiragino Sans GB',simsun,sans-serif;
  font-size: 0;
}
.toolbar .toolbar_space {
  height: 25%;
}
.toolbar .toolbar_list {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  min-height: 46px;
}
.toolbar .toolbar_list .toolbar_item {
  height: 46px;
}
.toolbar .toolbar_list .toolbar_item a {
  display: block;
  width: 35px;
  height: 46px;
  position: relative;
  font-size: 12px;
  outline: 0;
  color: #1c9eff;
}
.toolbar .toolbar_list .toolbar_item .tb-toolbar-item-icon {
  text-align: center;
  width: 35px;
  line-height: 46px;
  font-family: tb-toolbar-iconfont;
  font-size: 20px;
  font-style: normal;
}
.toolbar .toolbar_list .toolbar_item .toolbar_item_tip {
  display: none;
  z-index: 15;
  position: absolute;
  top: 8px;
  left: -85px;
  width: 85px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  font-family: tahoma,arial,'Hiragino Sans GB',simsun,sans-serif;
  text-align: center;
  background: #f40;
}
.toolbar .toolbar_list .toolbar_item .tb-toolbar-item-arrow {
  position: absolute;
  right: -6px;
  top: 0;
  color: #f40;
}
.toolbar .toolbar_list .toolbar_item_split {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px dotted #bbb;
}
.toolbar .toolbar_item_cart a {
  padding-bottom: 5px;
  display: block;
  width: 35px;
  position: relative;
  color: #666;
  font-size: 12px;
  text-decoration: none !important;
  cursor: pointer;
  outline: 0;
}
.toolbar .toolbar_item_cart .tb-toolbar-item-icon {
  color: #666;
}
.toolbar .toolbar_item_cart .toolbar_item_cart_label {
  color: #666;
  width: 20px;
  height: 50px;
  line-height: 16px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}
.toolbar .toolbar_feedback {
  position: absolute;
  bottom: 20px;
  min-height: 46px;
}
.toolbar .toolbar_feedback li {
  height: 46px;
}
.toolbar .toolbar_feedback li a {
  display: block;
  width: 35px;
  height: 46px;
  position: relative;
  color: #666;
  font-size: 12px;
  outline: 0;
}
.toolbar .toolbar_feedback li .tb-toolbar-item-icon {
  text-align: center;
  width: 35px;
  line-height: 46px;
  font-family: tb-toolbar-iconfont;
  font-size: 20px;
  font-style: normal;
  color: #666;
}
.toolbar .toolbar_feedback li .tb-toolbar-item-tip {
  display: none;
  z-index: 15;
  position: absolute;
  top: 8px;
  left: -85px;
  width: 85px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  font-family: tahoma,arial,'Hiragino Sans GB',simsun,sans-serif;
  text-align: center;
  background: #f40;
}
.toolbar .toolbar_feedback li .tb-toolbar-item-arrow {
  position: absolute;
  right: -6px;
  top: 0;
  color: #f40;
}

/*# sourceMappingURL=details.css.map */
