@font-face {
  font-family: global-iconfont;
  src: url(../font/font_1404888168_2057645.eot);
  src: url(../font/font_1404888168_2057645.eot?#iefix) format("embedded-opentype"), url(../font/font_1404888168_2057645.woff) format("woff"), url(../font/font_1404888168_2057645.ttf) format("truetype"), url(../font/font_1404888168_2057645.svg#uxiconfont) format("svg");
}
.site-nav .site-nav-icon {
  font-family: global-iconfont !important;
  font-size: 12px;
  font-style: normal;
  margin-top: -3px\9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaleFont type;
  margin-right: 5px;
  _line-height: 33px;
  color: #9c9c9c;
}

.site-nav .site-nav-menu-hd a:hover .site-nav-icon {
  color: #f40;
}

.site-nav .site-nav-bd-r .site-nav-icon {
  width: 12px;
}

.site-nav .site-nav-icon-highlight {
  color: #f40;
}

.site-nav .site-nav-arrow {
  display: block;
  float: left;
  width: 12px;
  height: 6px;
  line-height: 6px;
  overflow: hidden;
  margin-top: 16px;
}

.site-nav .site-nav-arrow .site-nav-icon {
  display: block;
  margin-top: -4px;
  margin-right: 20px;
}

.tb-ifont {
  font-family: iconfont !important;
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: iconfont;
  src: url(../font/font_403341_n8tj33yn5peng66r.eot);
  src: url(../font/font_403341_n8tj33yn5peng66r.eot?#iefix) format("embedded-opentype"), url(../font/font_403341_n8tj33yn5peng66r.woff) format("woff"), url(../font/font_403341_n8tj33yn5peng66r.ttf) format("truetype"), url(../font/font_403341_n8tj33yn5peng66r.svg#iconfont) format("svg");
}
.tbh-icon {
  background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
}

.headline h3 {
  background: url(//img.alicdn.com/tfs/TB1KbhkbUgQMeJjy0FeXXXOEVXa-129-26.png) 0 14px no-repeat;
}

.tbh-member .tbh-icon {
  background-position: 0 -572.5px;
}

.tbh-member .club .tbh-icon {
  background-position: 0 -528px;
}

.tbh-conve .conve-item-1 .tbh-icon {
  background-position: 0 0;
}

.tbh-conve .conve-item-2 .tbh-icon {
  background-position: 0 -85px;
}

.tbh-conve .conve-item-3 .tbh-icon {
  background-position: 0 -44px;
}

.tbh-conve .conve-item-4 .tbh-icon {
  background-position: 0 -132px;
}

.tbh-conve .conve-item-5 .tbh-icon {
  background-position: 0 -176px;
}

.tbh-conve .conve-item-6 .tbh-icon {
  background-position: 0 -220px;
}

.tbh-conve .conve-item-7 .tbh-icon {
  background-position: 0 -264px;
}

.tbh-conve .conve-item-8 .tbh-icon {
  background-position: 0 -308px;
}

.tbh-conve .conve-item-9 .tbh-icon {
  background-position: 0 -352px;
}

.tbh-conve .conve-item-10 .tbh-icon {
  background-position: 0 -396px;
}

.tbh-conve .conve-item-11 .tbh-icon {
  background-position: 0 -440px;
}

.tbh-conve .conve-item-12 .tbh-icon {
  background-position: 0 -484px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .tbh-icon {
    background: url(https://img.alicdn.com/tfs/TB1tyFSXm_I8KJjy0FoXXaFnVXa-48-1194.png) 0 0 no-repeat;
    background-size: 24px 597px;
  }

  .headline h3 {
    background-image: url(//img.alicdn.com/tfs/TB1x3nNX6uhSKJjSspmXXcQDpXa-258-52.png);
    background-size: 129px 26px;
  }
}
@font-face {
  font-family: tb-toolbar-iconfont;
  src: url("//at.alicdn.com/t/font_1418875995_7687602.eot");
  src: url("//at.alicdn.com/t/font_1418875995_7687602.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1418875995_7687602.woff") format("woff"), url("//at.alicdn.com/t/font_1418875995_7687602.ttf") format("truetype"), url("//at.alicdn.com/t/font_1418875995_7687602.svg#iconfont") format("svg");
}
.tb-toolbar-item-icon {
  text-align: center;
  width: 35px;
  line-height: 46px;
  font-family: tb-toolbar-iconfont;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: tb-iconfont;
  src: url("//at.alicdn.com/t/font_1444889156_383075.eot");
  src: url("//at.alicdn.com/t/font_1444889156_383075.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1444889156_383075.woff") format("woff"), url("//at.alicdn.com/t/font_1444889156_383075.ttf") format("truetype"), url("//at.alicdn.com/t/font_1444889156_383075.svg#iconfont") format("svg");
}
.tb-iconfont {
  font-family: tb-iconfont !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaleFont type;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: iconfont;
  src: url("//at.alicdn.com/t/font_1451959379_8626566.eot");
  src: url("//at.alicdn.com/t/font_1451959379_8626566.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1451959379_8626566.woff") format("woff"), url("//at.alicdn.com/t/font_1451959379_8626566.ttf") format("truetype"), url("//at.alicdn.com/t/font_1451959379_8626566.svg#iconfont") format("svg");
}
.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: regiconfont;
  src: url("//at.alicdn.com/t/font_1408947319_9759417.eot");
  src: url("//at.alicdn.com/t/font_1408947319_9759417.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1408947319_9759417.woff") format("woff"), url("//at.alicdn.com/t/font_1408947319_9759417.ttf") format("truetype"), url("//at.alicdn.com/t/font_1408947319_9759417.svg#iconfont") format("svg");
}
.page .iconfont, .msg .iconfont, .ks-dialog .iconfont, .pw-tip .iconfont, .gmsg .iconfont {
  font-family: regiconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.gmsg .iconfont {
  display: inline;
  float: left;
  font-size: 28px;
  line-height: 32px;
  margin-left: -35px;
}

body {
  color: #3c3c3c;
  font: 12px/1.5 "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

.wrap {
  width: 1190px;
  margin: 0 auto;
}

a {
  color: #3c3c3c;
}

.header_top {
  background: #f5f5f5;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eee;
}

.header_top a {
  color: #6c6c6c;
}

.header_top .wrap > ul > li > a:hover {
  color: #ff5000;
}
.header_top .wrap > ul > li > a:hover .site-nav-icon {
  color: #ff5000;
}

.header_top .site-nav-bd-l {
  float: left;
}

.header_top .site-nav-bd-r {
  float: right;
}

.header_top .site-nav-bd-l > li {
  float: left;
  padding: 0 6px;
}

.site-nav-bd-l .site-nav-switch > span {
  float: left;
}

.site-nav-bd-l .site-nav-switch .site-nav-region {
  margin-right: 7px;
}

.site-nav-switch {
  position: relative;
}
.site-nav-switch .region-list {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 8px 0;
  left: -1px;
  top: 35px;
  border: 1px solid #eee;
  border-top: none;
  background: #fff;
  max-height: 270px;
  overflow-y: scroll;
}
.site-nav-switch .region-list .region_item {
  width: 242px;
  height: 29px;
  line-height: 29px;
  padding-left: 8px;
  cursor: pointer;
}
.site-nav-switch .region-list .region_item:hover {
  background: #f5f5f5;
}

.site-nav-switch:hover {
  background: #fff;
}
.site-nav-switch:hover .region-list {
  display: block;
}

.site-nav-bd-l .site-nav-sign a {
  margin-right: 7px;
}

.site-nav-bd-l .site-nav-sign .h {
  color: #f22e00 !important;
}

.header_top .site-nav-bd-r > li > a {
  float: left;
}

.header_top .site-nav-bd-r > li {
  float: left;
  padding: 0 6px;
  position: relative;
}

.header_top .site-nav-bd-r .site-nav-pipe {
  padding: 0 5px;
  color: #ddd;
}

.header_top .site-nav-bd-r > li > a {
  margin-right: 7px;
}

.header_top .site-nav-bd-r > li > a .site-nav-icon {
  display: block;
  height: 35px;
  line-height: 35px;
  float: left;
}

.site-nav-bd-r > .xiala > ul {
  display: none;
  position: absolute;
  left: -1px;
  top: 35px;
  z-index: 11;
  padding: 8px 0;
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
}
.site-nav-bd-r > .xiala > ul li {
  display: block;
  padding: 0 5px;
  line-height: 28px;
  white-space: nowrap;
  color: #6c6c6c;
}

.site-nav-bd-r > .xiala > ul > li:hover {
  background: #f5f5f5;
}

.site-nav-bd-r > .xiala:hover {
  background: #fff;
}
.site-nav-bd-r > .xiala:hover ul {
  display: block;
}
.site-nav-bd-r > .xiala:hover .webnav {
  display: block;
}

.webnav {
  display: none;
  width: 1188px;
  overflow: hidden;
  position: absolute;
  right: -1px;
  left: auto;
  top: 35px;
  z-index: 11;
  min-height: 258px;
  line-height: normal;
  border: 1px solid #eee;
  border-top: none;
  background: #fff;
}
.webnav div {
  float: left;
  overflow: hidden;
  padding: 5px;
  width: 24%;
  border-right: 1px solid #eee;
}
.webnav div h4 {
  color: #fc4200;
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}
.webnav div li {
  width: 24%;
  float: left;
  padding-top: 5px;
  height: 25px;
  overflow: hidden;
}
.webnav div li a {
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 0 2px;
  padding: 0 8px;
  border-radius: 2px;
}
.webnav .zhuti h4 {
  color: #fc4200;
}
.webnav .zhuti li {
  width: 24%;
}
.webnav .zhuti li a:hover {
  background: #fc4200;
  color: #fff;
}
.webnav .tese h4 {
  color: #9fb838;
}
.webnav .tese li {
  width: 33%;
}
.webnav .tese li a:hover {
  background: #9fb838;
  color: #fff;
}
.webnav .aliapp h4 {
  color: #d75696;
}
.webnav .aliapp li {
  width: 33%;
}
.webnav .aliapp li a:hover {
  background: #d75696;
  color: #fff;
}
.webnav .tuijian {
  border-right: none;
}
.webnav .tuijian h4 {
  color: #2e9fdb;
}
.webnav .tuijian li {
  width: 49%;
}
.webnav .tuijian li a:hover {
  background: #2e9fdb;
  color: #fff;
}

.header_bot {
  position: relative;
  height: 43px;
  padding: 20px 0;
}
.header_bot h1 {
  display: inline-block;
  width: 106px;
  height: 43px;
  overflow: hidden;
  vertical-align: middle;
}
.header_bot h1 a {
  display: block;
  color: #ff5b20;
}
.header_bot h1 a .iconfont {
  display: block;
  color: #ff4001;
  font-size: 36px;
  font-weight: 400;
}
.header_bot h1 a .tb-logo-cn {
  position: relative;
  top: -12px;
}
.header_bot h1 a .tb-logo-url {
  font-size: 50px;
  position: relative;
  top: -61px;
}
.header_bot h2 {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  margin-left: 6px;
  font-size: 22px;
  font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
  font-weight: 400;
  vertical-align: middle;
}

.steps {
  width: 1190px;
  margin: 0 auto;
  height: 46px;
  border-bottom: 2px solid #e6e6e6;
  position: relative;
}
.steps ol {
  width: 720px;
  margin: 0 auto;
}
.steps ol li {
  width: 150px;
  padding-left: 30px;
  display: inline;
  float: left;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  font-weight: 700;
  color: #999;
  font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
}
.steps ol li i {
  display: inline-block;
  zoom: 1;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  background: url(../images/ico-circle2.png) no-repeat 0 0;
}
.steps ol .active {
  color: #3e3e3e;
  border-bottom: 2px solid #ff4700;
}
.steps ol .active i {
  background-image: url(../images/ico-circle1.png);
}
.steps .switch_lang {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 12px;
}
.steps .switch_lang a {
  padding: 3px 5px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

.content .wrap {
  padding: 50px 0;
}
.content .wrap .form_list {
  width: 720px;
  margin: 0 auto;
  font-size: 14px;
}
.content .wrap .form_list .form_group {
  padding: 10px 0;
}
.content .wrap .form_list .form_group .form_item {
  padding: 10px 0 10px 260px;
  line-height: 36px;
}

.form_item .form_label {
  display: inline;
  float: left;
  margin-left: -260px;
  width: 240px;
  height: 37px;
  line-height: 37px;
  text-align: right;
  font-size: 14px;
}
.form_item .mobile_text {
  position: relative;
}
.form_item .mobile_text .phone_area {
  width: 150px;
  border-right: 1px solid #ccc;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: #000000;
  position: relative;
  cursor: pointer;
  float: left;
  padding-left: 10px;
  height: 35px;
  font-weight: 700;
  overflow: hidden;
}
.form_item .mobile_text .phone_area .region {
  float: left;
  width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 35px;
}
.form_item .mobile_text .phone_area .region_num {
  float: right;
  margin-right: 25px;
}
.form_item .mobile_text .mobile_input {
  width: 140px;
  float: left;
  border: 1px solid #dedede;
  height: 17px;
  line-height: 17px;
  padding: 9px;
  font-size: 14px;
}
.form_item .password {
  width: 320px;
  height: 35px;
  padding: 0;
  border: 1px solid #dedede;
}
.form_item .submit_btn {
  min-width: 180px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background: #ff4001;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.form_item a {
  color: #ff5b20;
}

/*# sourceMappingURL=register.css.map */
