.header_nav{
    background-image:$back_image;
    .wrap{
        height:30px;
        line-height:30px;
        position: relative;
        color:#fff;
        h2{
            float: left;
            width:190px;
            text-align: center;
            font-size:16px;
            background: #ff5000;
        }
        .nav_firstul{
            float: left;
            font-size: 16px;
            font-weight: 700;
            position: relative;
            li{
                float: left;
                margin:0 3px;
                text-align: center;
                padding: 0 4px;
                cursor: pointer;
                position: relative;
            }
            li:hover:before{
                content:'\e606';
                font-family:iconfont;
                color:#ff5000;
                position:absolute;
                top:-19px;
                left:50%;
                font-size:12px;
                margin-left:-15px;
            }
            a{
                padding: 0 5px;
                color:#fff;
            }
        }
        .nav_normalul{
            font-size: 14px;
            float: left;
            font-weight: 700;
            position: relative;
            .pipe{
                font-weight:normal;
            }
            li{
                float: left;
                margin-left:7px;
                text-align: center;
                position: relative;
            }
            li:hover:not(.pipe):before{
                content:'\e606';
                font-family:iconfont;
                color:#ff5000;
                position:absolute;
                top:-19px;
                left:50%;
                font-size:12px;
                margin-left:-15px;
            }
            a{
                padding: 0 5px;
                color:#fff;
            }
        }
    }
}
.main .wrap{
    height:632px;
    .main_left{
        float:left;
        width:900px;
    }
    .main_service{
        float:left;
        height:522px;
        width:190px;
        position:relative;
        font-size:14px;
        background:#fff;
        ul{
            border:1px solid #ff5000;
            border-top:none;
            padding-top:5px;
            padding-bottom:3px;
            li{
                height:32px;
                line-height: 32px;
                padding-left:25px;
                padding-right:19px;
                position: relative;
                font-size: 14px;
                width:145px;
                color:#666;
            }
            .on{
                background: #ffe4dc;
                color:#ff5000;
            }
            .on a{
                color:#ff5000;
            }
            a{
                color:#666;
            }
            
            .service-arrow{
                font-size:12px;
                position: absolute;
                right:10px;
            }
        }
        ul li>a:hover{
                text-decoration: underline;
            }
    }
    .main_banner{
        height:512px;
        width:520px;
        margin-left:10px;
        margin-top:10px;
        float:left;
        .banner_top{
            width:520px;
            height:280px;
            overflow:hidden;
            position:relative;
        }
        
    }
    .main_sub_column{
        float:right;
        width:160px;
        height:512px;
        margin-right:10px;
        margin-top:10px;
        .main_hot{
            h5{
                font-size: 12px;
                font-weight: 400;
                background:#f1f1f1;
                color:#a1a1a1;
                line-height: 24px;
                padding-top: 6px;
            }
            height:230px;
            margin-top:1px;
        }
    }
    .main_tbtoutiao{
        position: relative;
        padding:14px 14px 12px 20px;
        margin-top:10px;
        background:#fff;
        width:856px;
        h3{
            width:180px;
            height:73px;
            float:left;
            background:url(../images/toutiao.png) 0 14px no-repeat;
            em{
                display:none;
            }
            p{
                margin-top: 42px;
                line-height: 24px;
                height: 24px;
                color: #999999;
                font-weight: 400;
                font-size: 12px;
            }
        }
        .toutiao_content{
            height:73px;
            width:676px;
            overflow: hidden;
            margin-left: 180px;
            margin-right:0;
            position: relative;
        }
        
    }
}
.main_banner{
    height:512px;
    width:520px;
    margin-left:10px;
    margin-top:10px;
    float:left;
    .banner_top{
        width:520px;
        height:280px;
        overflow:hidden;
        position:relative;
        .banner_img a{
            display: block;
            position: absolute;
            left:0;
            top:0;
        }
        .banner_controls>a{
            display: none;
            background-clip: padding-box;
            height: 30px;
            width: 20px;
            line-height: 30px;
            color: #fff;
            position: absolute;
            top: 50%;
            background-color: rgba(0,0,0,.3);
            z-index:10;
            overflow: hidden;
            .tb-ifont{
                display: block;
                height: 100%;
                width: 100%;
                line-height: 30px;
                color: #fff;
            }
        }
        .left_arrow{
            left:0;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
        }
        .right_arrow{
            right:0;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            .tb-ifont{
                padding-left:6px;
            }
        }
        .banner_controls>ul{
            border-radius: 10px;
            position: absolute;
            bottom: 15px;
            height: 13px;
            text-align: center;
            font-size: 0;
            left: 50%;
            margin-left: -39px;
            background-color: rgba(255,255,255,.3);
            li{
                display: inline-block;
                margin:3px;
            }
            span{
                display: block;
                padding-top: 8px;
                width: 8px;
                height: 0;
                border-radius: 50%;
                background: #fff;
                cursor: pointer;
            }
            .selected span{
                background:#ff5000;
            }
        }
    }
}
.banner_tmall{
    position: relative;
    width: 520px;
    height: 230px;
    margin-top: 1px;
    overflow: hidden;
    .tmall_hd{
        height:18px;
        font-size: 14px;
        padding-top: 11px;
        border-bottom: 3px solid #ff1648;
        position: relative;
        background-color: #f1f1f1;
        .hd_bg{
            background-image:url(../images/tmall.png);
            width: 136px;
            position: absolute;
            height: 19px;
            background-repeat: no-repeat;
            background-position: 2px 0;
            background-size: 122px 22px;
        }
        em{
            font-style:normal;
            font-size: 12px;
            color: #666;
            position: relative;
            margin-left: 136px;
        }
        strong{
            position: absolute;
            right: 0;
            font-family: sans-serif;
            font-size: 12px;
            font-weight: 400;
            i{
                font-style: normal;
                color:#ff1648;
            }
        }
        ul{
            
            width:522px;
            height:0;
            position: absolute;
            bottom:0;
            left:0;
            z-index: 10;
            li{
                float:left;
                width:87px;
                height:3px;
                background:transparent;
            }
            .selected{
                background:#000;
            }
        }
    }
    .tmall_bd{
        width: 520px;
        overflow: hidden;
        height: 201px;
        position: relative;
        .tmall_img{
            a{
                position: absolute;
                display: block;
                float:left;
            }
        }
        .tmall_arrow a{
            background-clip: padding-box;
            display: none;
            height: 30px;
            width: 20px;
            line-height: 30px;
            color: #fff;
            position: absolute;
            top: 50%;
            margin-top:-15px;
            background-color: rgba(0,0,0,.3);
            i{
                display: block;
                height: 30px;
                width: 20px;
                line-height: 30px;
                color: #fff;
            }
        }
        .left_arrow{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            left:0;
        }
        .right_arrow{
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            right:0;
            i{
                padding-left: 6px;
            }
        }
    }
}
.toutiaowrap{
    display:block;
    position: absolute;
    left:0;
    top:0;
    a{
        display: block;
    }
}
.subnav{
    display:none;
    position: absolute;
    left: 188px;
    top: -5px;
    padding-left:18px;
    width: 692px;
    height: 518px;
    border: 2px solid #F94A14;
    box-shadow: 2px 2px 0 #dcdadb;
    background-color: #FFF;
    color: #333;
    font-size: 12px;
    z-index: 12;
    .subnav_left{
        padding-top: 10px;
        width: 415px;
        height: 490px;
        overflow: hidden;
        padding-right: 12px;
        padding-left: 10px;
        float: left;
        .service_panel{
            font-size:12px;
            margin-bottom:5px;
            h5{
                position: relative;
                height: 36px;
                line-height: 36px;
                font-size: 16px;
                color: #333;
            }
            a.more span{
                font-size:12px;
                right:6px;
                position: absolute;
                font-weight: 400;
                top:0;
            }
            a.more i{
                position: relative;
                left:-4px;
                font-size:12px;
            }
            p{
                height: 104px;
                overflow: hidden;
                padding-bottom: 33px;
                line-height: 26px;
            }
            p a{
                display:inline-block;
                margin-right:12px;
                white-space: nowrap;
            }
            
        }
    }
    .subnav_right{
        float: left;
        width: 253px;
        border-left: 1px solid #f4f4f4;
        position: relative;
        height: 498px;
        padding-top: 20px;
        h3{
            line-height: 18px;
            color: #333;
            font-size: 14px;
            text-align: center;
            font-weight: 400;
        }
        a{
            float:left;
            display: block;
            width: 97px;
            height: 143px;
            padding: 10px 0 0 20px;
            overflow: hidden;
            .img_wrap{
                width:97px;
                height:97px;
                overflow: hidden;
                background:#4f4f4f;
            }
            img{
                width:98px;
                height:97px;
                opacity: 0.9;
            }
            h5{
                height: 26px;
                line-height: 26px;
                font-size: 12px;
                overflow: hidden;
                font-weight: 400;
                color: #999;
            }
        }
    }
}
.main_right{
    float:right;
    width:290px;
    height:100%;
    margin-top:10px;
    .main_member{
        background:url(../images/member_bg.png) no-repeat;
        background-size:290px 145px;
        padding:3px 0 10px;
        height:132px;
        text-align: center;
    }
    .main_tipoff a{
        position: relative;
        padding-left:82px;
        color:#f40;
        display: block;
        height:26px;
        line-height: 26px;
        background:#ffe4dd;
        font-size:12px;
        span{
            position: absolute;
            right:52px;
            top:9px;
            line-height: 0;
            width:0;
            height:0;
            margin-left:32px;
            border-style:solid;
            border-width:5px 0 5px 7px;
            border-color:transparent transparent transparent #f40;
        }
    }
    .main_notice{
        height:98px;
        padding-top:10px;
        width:290px;
        background:#fff;
        .notice_hd{
            position: relative;
            height: 24px;
            margin-top: 4px;
            overflow: hidden;
            margin-right: -2px;
            padding: 0 8px;
            li{
                float: left;
                line-height: 20px;
                width: 32px;
                text-align: center;
                margin: 0 11px;
            }
            .selected{
                padding: 0;
                font-weight: 700;
                border-bottom: 2px solid #F40;
            }
        }
        .notice_bd ul{
            margin: 0 12px;
            height: 50px;
            overflow: hidden;
            padding-top: 9px;
            padding-bottom: 6px;
            li{
                float: left;
                line-height: 25px;
                height: 25px;
                width: 130px;
                overflow: hidden;
            }
            display:none;
        }
        .notice_bd .notice_first{
            display: block;
            li:first-child{
                
                width:260px;
            }
        }
    }
    .main_conve{
        background:#fff;
        li{
            width:71px;
            height:75px;
            float:left;
            border:1px solid #f4f4f4;
            border-color:transparent transparent #f4f4f4 #f4f4f4;
            overflow:hidden;
            a{
                padding-top:1px;
                text-align: center;
                display: block;
                color:#3c3c3c;
            }
            .tbh-icon{
                background:url(../images/conve_icon.png) no-repeat;
                display:inline-block;
                width:24px;
                height:24px;
                margin-top:11px;
            }
            p{
                color:#333;
                line-height: 24px;
                
            }
        }
        
        
        @for $i from 1 to 12{
            .conve_item_#{$i} .tbh-icon{
                background-position:0 ($i - 1)*(-1)*44px;
            }
        }
        li.min{
            width:70px;
        }
        li:hover{
            p{
                color:#f40;
            }
        }
    }
    .main_app{
        padding-top: 1px;
        background:#fff;
        height:110px;
        h3{
            font-size: 14px;
            padding-left: 14px;
            height:30px;
            line-height: 30px;
            position: relative;
            
        }
        a.more{
            position: absolute;
            right: 10px;
            font-size: 12px;
            font-weight: 400;
            color:#3c3c3c;
        }
        .apps_nav{
            padding-left:23px;
            position: relative;
            height:84px;
            .tb-ifont{
                position: relative;
                left:-4px;
                font-size: 12px;
            }
        }
        li{
            position: relative;
            float: left;
            width:32px;
            height:32px;
            margin-right:21px;
            margin-bottom:8px;
            a img{
                width:32px;
                height:32px;
            }
            .app_qr{
                bottom:39px;
                left:-32px;
                width:90px;
                height:102px;
                background:#fff;
                border:1px solid #dedede;
                text-align:center;
                display: none;
                position: absolute;
                
            }
            .app_qr img{
                width:66px;
                height:66px;
                padding:12px;
            }
            .app_qr p{
                position: absolute;
                bottom:3px;
                left:0;
                right:0;
                height:20px;
                line-height: 20px;
                color: #666666;
                overflow: hidden;
            }
        }
    }
}
.member_bd{
    height:91px;
    position: relative;
    .member_icon{
        display: block;
        margin: 0 auto;
        width: 74px;
        height: 56px;
        a{
            display: inline-block;
            border: 3px solid #fff;
            border-radius: 50%;
            background-clip: padding-box;
            width: 50px;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            img{
                width:50px;
                height:50px;
            }
        }
    }
    .member_nick{
        display:block;
        line-height:17px;
        height:17px;
        text-align:center;
        strong{
            font-weight: 400;
        }
    }
    .member_tjb{
        height:17px;
        line-height:17px;
        .member_gettjb{
            display: inline-block;
            border-radius: 9px;
            background-clip: padding-box;
            background: #ffe4db;
            padding: 0 10px 0 20px;
            position: relative;
            border: none;
            color:#ff5000;
            span{
                position: absolute;
                top: 0;
                display: block;
                left: 0;
                height: 16px;
                width: 16px;
                vertical-align: middle;
                background: url('//img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png') 0 0 no-repeat;
                background-position: 0 -572.5px;
                color:#ff5000;
            }
        }
        .member_club{
            margin-left:2px;
            display: inline-block;
            border-radius: 9px;
            background-clip: padding-box;
            background: #ffe4db;
            padding: 0 10px 0 20px;
            position: relative;
            border: none;
            color:#ff5000;
            span{
                position: absolute;
                top: 0;
                display: block;
                left: 0;
                height: 16px;
                width: 16px;
                vertical-align: middle;
                background: url('//img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png') 0 0 no-repeat;
                background-position: 0 -528px;
                color:#ff5000;
            }
        }
    }
}
.member_ft{
    height:40px;
    overflow: hidden;
    margin-top:2px;
    padding-left:15px;
    text-align: center;
    .member_ft_wrap{
        height:25px;
        margin-top:8px;
        text-align: center;
        a{
            width:75px;
            float: left;
            line-height: 25px;
            margin-right: 7px;
            text-align: center;
            color: #FFF;
            background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
            background-repeat: repeat-x;
            border-radius: 4px;
            background-clip: padding-box;
            font-size: 14px;
            font-weight: 700;
        }
        .ml1{
            width:92px;
        }
    }
}


.belt .wrap{
    margin-top:10px;
    height:166px;
    overflow: hidden;
    background:#fff;
    h3{
        margin-top:19px;
        height:24px;
        margin-bottom:20px;
        padding-left:20px;
        a{
            float:left;
            display:inline;
            img{
                height:24px;
                margin-right:5px;
                float:left;
            }
        }
        p{
            line-height: 24px;
            height:24px;
            color:#999;
            font-weight: 400;
            span{
                margin-left:6px;
                font-size:12px;
            }
        }
    }
    ul{
        padding-left:20px;
    }
    ul li{
        a:hover{
            .belt_img{
                border-color:#f40;
            }
            h4{
                color:#f40;
            }
        }
        position: relative;
        float: left;
        width:194px;
        height:82px;
        .belt_img{
            height:66px;
            width:66px;
            border:1px solid #13d0a1;
            border-radius:100%;
            background-clip:padding-box;
            float: left;
            padding:7px;
            overflow: hidden;
            img{
                width:66px;
                height:66px;
            }
        }
        .belt_content{
            margin-left:91px;
            h4{
                height:24px;
                overflow: hidden;
                margin-top:6px;
                font-size:16px;
                font-weight:500;
                color:#333;
            }
            .subtitle{
                height:22px;
                font-size:14px;
                line-height: 22px;
                color:#999;
                overflow:hidden;
            }
            .extra{
                line-height:30px;
                height:30px;
                color:#999;
                font-size:12px;
                overflow: hidden;
            }
            .extra i{
                color:#13D0A1;
            }
        }
    }
}

.good_goods .wrap{
    margin-top:10px;
}

.discover_goods{
    width:590px;
    float:left;
    height:658px;
    position: relative;
    background:#fff;
    h3{
        padding-left:20px;
        margin:20px 0;
        position:relative;
        em{
            display:none;
        }
        .goods_img{
            height:24px;
            margin-right:5px;
            float:left;
        }
        p{
            line-height:24px;
            height:24px;
            color:#999;
            font-weight:400;
            .qrcode_box{
                
            }
        }
    }
    .qrcode_box{
        position:relative;
        float: left;
        width:26px;
        text-align:center;
        height:24px;
        .tb-qr{
            font-size:20px;
            color:#ccc;
            position: relative;
            top:-1px;
        }
        .qrcode{
            position: absolute;
            left:-17px;
            z-index:10;
            top:20px;
            display: none;
            width:66px;
            height:80px;
            padding:10px;
            background:#fff;
            border:1px solid #f0f0f0;
            img{
                width:66px;
                height:66px;
                text-align:center;
                position:relative;
                z-index: 11;
            }
            em{
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                bottom: 3px;
                text-align: center;
                color: #666;
                font-weight: 400;
                font-size: 12px;
                font-style: normal;
            }
        }
    }
    .subtitle{
        font-size:12px;
        line-height: 24px;
        color:#999;
        font-weight: 400;
    }
    .goods_switch{
        position: absolute;
        top: 0;
        right: 20px;
        line-height: 24px;
        height: 24px;
        font-size: 12px;
        color: #999;
        width: 100px;
        text-align: right;
        .switch{
            font-weight: 400;
        }
    }
    .goods_list{
        overflow:hidden;
        padding-left:21px;
        a{
            display: block;
            float: left;
            width:180px;
            overflow:hidden;
            margin:0 4px 17px 0;
        }
        .img_wrap{
            background:#4f4f4f;
        } 
        img{
            width:100%;
            height:180px;
            opacity:0.9;
        }
        .info{
            padding:0 4px 0 6px;
            h4{
                margin-top:5px;
                font-size:16px;
                height:28px;
                overflow:hidden;
                line-height:28px;
                font-weight: 400;
            }
            p{
                line-height:24px;
                color:#999;
                font-size:14px;
                overflow:hidden;
                height:24px;
            }
            p.extra{
                line-height:22px;
                height:22px;
                margin-top:12px;
                color:#35b1ff;
            }
        }
    }
}
.shopping{
    width:590px;
    height:658px;
    margin-left:10px;
    float: left;
    background:#fff;
    h3{
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        em{
            display:none;
        }
        .shopping_logo{
            float:left;
            img{
                height:23px;
                margin-right:5px;  
            }
        }
        p{
            line-height: 24px;
            height: 24px;
            color: #999;
            font-weight: 400;
            span{
                margin-left:6px;
                font-size:12px;
            }
        }
        .more_box{
            position: absolute;
            top: 0;
            right: 20px;
            line-height: 24px;
            height: 24px;
            font-size: 12px;
            color: #999;
            width: 100px;
            text-align: right;
            .more{
                margin-left:14px;
                font-weight: 400;
                color:#999;
            }
        }
    }
    .shopping_list{
        padding-left:21px;
        li{
            float:left;
            width:180px;
            overflow:hidden;
            margin:0 4px 17px 0;
        }
        a{
            display:block;
            .img_wrap{
                background:#4f4f4f;
            }
            img{
                width:100%;
                height:180px;
                opacity:0.9;
            }
            .info{
                padding-left:10px;
            }
        }
        .subtitle{
            margin-top: 11px;
            line-height: 22px;  
            height: 44px;
            overflow: hidden;
            font-size: 14px;
            color: #999;
            .tb-ifont{
                color: #ebebeb;
                float: left;
                margin-top: -4px;
                margin-right: 4px;
            }
        }
        .extra{
            margin-top:14px;
            .pic_wrap{
                float:left;
                width:22px;
                height:22px;
                border-radius: 50%;
                background-clip: padding-box;
                overflow: hidden;
            }
            img{
                width:100%;
                height:100%;
            }
            .name{
                margin-left:30px;
                line-height:22px;
                font-size:12px;
                color:#999;
            }
        }
    }
}
.qiang .wrap{
    margin-top:10px;
    height:264px;
    background:#fff;
    overflow: hidden;
    h3{
        padding-left: 20px;
        margin: 20px 0;
        position: relative;
        em{
            display:none;
        }
        
        img{
            height:22px;
            margin-right:5px;
        }
        p{
            line-height:24px;
            height:24px;
            color:#999;
            font-weight:400;
            .subtitle{
                margin-left:6px;
                font-size:12px;
            }
            .countdown_wrap{
                color:#ff5000;
                line-height:20px;
                height:20px;
                margin-top:2px;
                display:inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
            }
            .hour,.minutes,.seconds{
                font-size:12px;
                width: 20px;
                height: 20px;
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                text-align: center;
                color: #ff5000;
                background: #FFE4DC;
                -webkit-border-radius: 2px;
                -webkit-background-clip: padding-box;
                -moz-border-radius: 2px;
                -moz-background-clip: padding;
                border-radius: 2px;
                background-clip: padding-box;
                margin: 0 2px;
                font-weight: 700;
            }
        }
        .switch_more{
            position: absolute;
            top: 0;
            right: 20px;
            line-height: 24px;
            height: 24px;
            font-size: 12px;
            color: #999;
            width: 100px;
            text-align: right;
            font-weight: 400;
            .more{
                margin-left:14px;
                color:#999;
            }
        }
    }
    h3>a{
        float:left;
    }
}
.qiang_list{
    li{
        float:left;
        width:355px;
        padding:0 20px;
        a{
            display:block;
        }
        .img_wrap{
            float:left;
            width:180px;
            height:180px;
            background:#4f4f4f;
            img{
                width:101%;
                height:100%;
                opacity: 0.9;
            }
        }
        .info{
            margin-left:194px;
            overflow: hidden;
            h4{
                margin-top:14px;
                line-height:22px;
                height:44px;
                overflow: hidden;
                font-size: 16px;
                color: #333;
                font-weight: normal;
            }
            p{
                margin-top:12px;
                line-height: 28px;
                color:#999;
            }
            .extra{
                margin-top:34px;
            }
            .yuan{
                font-size:12px;
                color:#ff5000;
            }
            .cur{
                font-size:20px;
                color:#ff5000;
            }
            .price{
                color:#999;
                margin-left:6px;
                text-decoration: line-through;
            }
        }
    }
}
.tanx .wrap{
    margin-top:10px;
    img{
    width:1190px;
    height:70px;
    }
}
.hdzb .wrap{
    margin-top:10px;
    overflow:hidden;
}

.fashion .wrap{
    margin-top:10px;
    overflow:hidden;
    .fashion_inner{
        background:#fff;
        width:840px;
        height:290px;
        float:left;
        h3{
            color: #AD45Df;
            border-bottom: 1px solid #f4f4f4;
            position: relative;
            padding-left: 32px;
            margin-top: 5px;
            line-height: 48px;
            font-size: 20px;
            em{
                font-style: normal;
                display: block;
                color: #AD45Df;
            }
        }
        h3:before{
            background-image: linear-gradient(45deg, #8558d6, #b865e2);
            background: #8558d6;
            background-repeat: repeat-x;
            content: '';
            position: absolute;
            width: 4px;
            height: 16px;
            top: 16px;
            left: 20px;
        }
    }
    .fashion_list{
        .item{
            width: 278px;
            border: 1px solid transparent;
            border-right: 1px solid #f4f4f4;
            border-bottom-color: #fff;
            float: left;
            height: 234px;
        }
        .info{
            padding-left:20px;
            h4{
                margin-top: 27px;
                font-size: 18px;
                color: #333;
                line-height: 26px;
                height: 26px;
                font-weight: normal;
            }
            .subtitle{
                color: #999;
                line-height: 22px;
                height: 22px;
                overflow: hidden;
            }
        }
    }
    .img_wrap{
        margin-top: 12px;
        padding-left: 16px;
        a{
            margin-left:6px;
            float:left;
            display:block;
            img{
                width:120px;
                height:120px;
            }
        }
    }
    .fashion_tanx{
        float: right;
        width: 298px;
        height: 248px;
        border: 1px solid #fff;
        overflow: hidden;
        padding: 20px;
        background: #fff;
    }
}

.pzts .wrap{
    margin-top:10px;
    overflow:hidden;
}
.afford{
    overflow:hidden;
}
.afford .wrap{
    margin-top:10px;
    overflow:hidden;
    .afford_inner{
        background:#fff;
        width:1190px;
        height:256px;
        overflow:hidden;
        h3{
            color: #31ba98;
            border-bottom: 1px solid #f4f4f4;
            position: relative;
            padding-left: 32px;
            margin-top: 5px;
            line-height: 48px;
            font-size: 20px;
            overflow:hidden;
            em{
                font-style: normal;
                display: block;
                color: #31ba98;
            }
        }
        h3:before{
            background-image: linear-gradient(45deg, #b4ec51, #31ba98);
            background: #31ba98;
            background-repeat: repeat-x;
            content: '';
            position: absolute;
            width: 4px;
            height: 16px;
            top: 16px;
            left: 20px;
        }
    }
    .item{
        float: left;
        width: 216px;
        height: 200px;
        border: 1px solid transparent;
        border-bottom-color: #f4f4f4;
        border-right-color: #f4f4f4;
        padding-left: 20px;
        h4{
            margin-top: 24px;
            line-height: 26px;
            height: 26px;
            font-weight: normal;
            font-size: 18px;
            color: #333;
        }
    }
    .item_inner{
        .img_wrap{
            margin-top:10px;
            float:left;
            img{
                width:120px;
                height:120px;
            }
        }
        .info{
            margin-left:131px;
            overflow: hidden;
            .title{
                margin-top: 22px;
                font-size: 16px;
                line-height: 24px;
                color: #333;
            }
            .subtitle{
                font-size: 14px;
                color: #999;
                line-height: 22px;
            }
            a{
                margin-top: 13px;
                display: block;
                width: 76px;
                height: 22px;
                line-height: 22px;
                border: 1px solid #ff5000;
                color: #ff5000;
                border-radius: 12px;
                background-clip: padding-box;
                text-align: center;
            }
        }
    }
}

.rmdp .wrap{
    margin-top:10px;
    overflow:hidden;
}


.hotsale .wrap{
    margin-top:10px;
    overflow:hidden;
    .hotsale_inner{
        background:#fff;
        width:1190px;
        overflow:hidden;
        h3{
            color: #ff9f00;
            border-bottom: 1px solid #f4f4f4;
            position: relative;
            padding-left: 32px;
            margin-top: 5px;
            line-height: 48px;
            font-size: 20px;
            overflow:hidden;
            em{
                font-style: normal;
                display: block;
                color: #ff9f00;
            }
        }
        h3:before{
            background-image: linear-gradient(45deg, #fad961, #ff9f00);
            background: #ff9f00;
            background-repeat: repeat-x;
            content: '';
            position: absolute;
            width: 4px;
            height: 16px;
            top: 16px;
            left: 20px;
        }
    }
    .hotsale_item{
        float: left;
        padding: 20px 20px 0 20px;
        border: 1px solid transparent;
        color: #6c6c6c;
        width: 196px;
        height: 312px;
        overflow: hidden;
        position: relative;
        border-right-color: #f4f4f4;
        border-bottom-color: #f4f4f4;
        .img_wrap{
            width:197px;
            height:197px;
            overflow: hidden;
            background:#4f4f4f;
            img{
                width: 101%;
                height: 100%;
                background:#fff;
            }
        }
        h4{
            margin-top: 7px;
            line-height: 22px;
            height: 44px;
            font-size: 14px;
            color: #666;
            font-weight: normal;
            transition: color 0.3s;
            overflow: hidden;
        }
        .info{
            margin-top:22px;
            height:24px;
            line-height:24px;
            .price{
                float:left;
                color:#f40;
                font-size:20px;
            }
            .price em{
                font-family: "Microsoft Yahei";
                display: inline-block;
                letter-spacing: normal;
                word-spacing: normal;
                vertical-align: top;
                margin-right: 2px;
                font-size: 12px;
                font-style: normal;
            }
            .price i{
                font-style: normal;
            }
            .sales{
                float:right;
                color:#9ca0aa;
                margin-top:3px;
            }
        }
        .item_more{
            display:none;
            position:absolute;
            bottom: 0;
            left: 0;
            width: 236px;
            height: 82px;
            background: #FF5000;
            .similar{
                margin: 0 auto;
                width: 120px;
                margin-top: 15px;
                line-height: 32px;
                height: 32px;
                font-size: 18px;
                font-weight: normal;
                border-bottom: 1px solid #FE964A;
                color: #fff;
                text-align: center;
            }
            .similar i{
                font-size:16px;
                margin-right:4px;
            }
            p{
                line-height: 22px;
                font-size: 12px;
                height: 22px;
                color: #fff;
                text-align: center;
            }
        }
    }
}
.fixed_top{
    display: none;
    z-index: 13;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 7px 0;
    background: #FFF;
    overflow: visible;
    .wrap{
        position: relative;
        .small_logo{
            float: left;
            width:190px;
            background-color:transparent;
            h2 a{
                display: block;
                padding-top: 33px;
                width: 80px;
                height: 0;
                text-indent: -9999px;
                overflow: hidden;
                background: url('//img.alicdn.com/tfs/TB1TGfMcwMPMeJjy1XbXXcwxVXa-80-33.png') 0 0 no-repeat;
            }
        }
        .fixed_search{
            background-color:transparent;
            margin-left:258px;
            margin-right:302px;
        }
    }
}
.fixed_search .search_panel{
    height:40px;
    position:relative;
}
.fixed_search .search_panel form .search_btn{
    position:absolute;
    right:0;
    top:0;
    width:74px;
    height:40px;
    text-align:center;
    overflow:hidden;
    border-radius:0 20px 20px 0;
}
.fixed_search .search_panel form .search_btn .btn_search{
    font-size:18px;
    font-weight:700;
    color:#fff;
    background-color:#ff4200;
    height:100%;
    width:100%;
    cursor:pointer;
    background-image:$back_image;
    background-repeat:repeat-x;
    border:0;
}
.fixed_search .search_panel form .search_panel_fields{
    border:2px solid #ff5000;
    border-right:none;
    height:36px;
    margin-right:74px;
    border-radius:20px 0 0 20px;
    overflow:hidden;
    i{
        font-size:16px;
        position:absolute;
        top:9px;
        left:14px;
        color:#666;
    }
    .search_placeholder{
        position:absolute;
        top:11px;
        left:34px;
        display:block;
        span{
            color:#9c9c9c;
            font-size: 12px; 
        }
        
    }
    .search_input_box{
        height:36px;
        width:472px;
        overflow:hidden;
        vertical-align: middle;
        .search_input{
            position: relative;
            z-index: 11;
            padding:6px 0 ;
            text-indent:10px;
            height:24px;
            line-height:24px;
            width:472px;
            border:none;
            outline:0;
            background:transparent;
            color:#000;
        }
    }
    span.tb-ifont{
        display:block;
        position:absolute;
        top:2px;
        right:90px;
        height:36px;
        width:24px;
        font-size:24px;
        color:#999;
        cursor:pointer;
    }
}
.fixedtool{
    position: absolute;
    top:478px;
    right:50%;
    margin-right:-655px;
    width:50px;
    text-align: center;
    .wangwang{
        position: absolute;
        height: 36px;
        width: 50px;
        line-height: 36px;
        text-align: center;
        font-size: 32px;
        color: #ff7f13;
        top: -28px;
        right: 0;
    }
    a{
        display: block;
        height: 44px;
        position: relative;
        text-decoration: none;
        padding: 6px 8px 0;
        font-size: 13px;
        line-height: 17px;
        background: #fff;
    }
    a:after{
        content: '';
        border-bottom: 1px solid #efefef;
        width: 34px;
        position: absolute;
        left: 8px;
        bottom: -1px;
    }
    a.on{
        color:#fff;
        background-image: linear-gradient(135deg,#ff971b,#ff5000);
        font-weight:700;
    }
    a:hover{
        color:#fff;
        background-image: linear-gradient(135deg,#ff971b,#ff5000);
        font-weight:700;
    }
    .fixedtool_1{
        border-top-right-radius: 8px;
        background-clip: padding-box;
        border-top-left-radius: 8px;
        padding-top:10px;
        height:40px;
    }
    .fixedtool_3{
        color:#f05;
    }
    .fixedtool_4{
        color:#8d7afb;
    }
    .fixedtool_5{
        color:#A8C001;
    }
    .fixedtool_6{
        color:#F40;
    }
    .fixedtool_7{
        display: none;
        font-size:12px;
        i{
            font-style: normal;
            font-size: 14px;
            display: block;
            color: #999;
            position: relative;
            line-height: 20px;
        }
    }
    .fixedtool_8{
        i{
            font-size:12px;
            font-style: normal;
            line-height: 40px;
            display: block;
        }
    }
    .fixedtool_9{
        border-bottom-right-radius: 8px;
        background-clip: padding-box;
        border-bottom-left-radius: 8px;
        font-size:12px;
    }
}
