

.header_top{
    background:#f5f5f5;
    height:35px;
    line-height:35px;
    border-bottom:1px solid #eee;
}
.header_top a{
    color:#6c6c6c;
}
.header_top .wrap>ul>li>a:hover{
    .site-nav-icon{
        color:#ff5000;
    }
    color:#ff5000;
}
.header_top .site-nav-bd-l{
    float:left;
}
.header_top .site-nav-bd-r{
    float:right;
}
.header_top .site-nav-bd-l>li{
    float:left;
    padding:0 6px;
}
.site-nav-bd-l .site-nav-switch>span{
    float:left;
}
.site-nav-bd-l .site-nav-switch .site-nav-region{
    margin-right:7px;
}
.site-nav-switch{
    position: relative;
    .region-list{
        display: none;
        position: absolute;
        z-index: 10;
        padding:8px 0;
        left:-1px;
        top:35px;
        border:1px solid #eee;
        border-top:none;
        background:#fff;
        max-height:270px;
        overflow-y:scroll;
        .region_item{
            width:242px;
            height:29px;
            line-height:29px;
            padding-left:8px;
            cursor:pointer;
        }
        .region_item:hover{
            background:#f5f5f5;
        }
    }
    
}

.site-nav-switch:hover{
    background:#fff;
    .region-list{
        display: block;
    }
}

.site-nav-bd-l .site-nav-sign a{
    margin-right:7px;
}
.site-nav-bd-l .site-nav-sign .h{
    color:#f22e00!important;
}
.header_top .site-nav-bd-r>li>a{
    float:left;
}
.header_top .site-nav-bd-r>li{
    float:left;
    padding:0 6px;
    position: relative;
}
.header_top .site-nav-bd-r .site-nav-pipe{
    padding:0 5px;
    color:#ddd;
}
.header_top .site-nav-bd-r>li>a{
    margin-right:7px;
}
.header_top .site-nav-bd-r>li>a .site-nav-icon{
    display: block;
    height:35px;
    line-height: 35px;
    float:left;
}
.site-nav-bd-r>.xiala>ul{
    display:none;
    position:absolute;
    left:-1px;
    top:35px;
    z-index: 10;
    padding:8px 0;
    background:#fff;
    border:1px solid #eee;
    border-top:none;
    li{
        display:block;
        padding:0 5px;
        line-height:28px;
        white-space: nowrap;
        color: #6c6c6c;
    }
}
.site-nav-bd-r>.xiala>ul>li:hover{
    background:#f5f5f5;
}
.site-nav-bd-r>.xiala:hover{
    background:#fff;
    ul{
        display:block;
    }
    .webnav{
        display:block;
    }
}

.webnav{
    display:none;
    width:1188px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    left: auto;
    top:35px;
    z-index: 10;
    min-height: 258px;
    line-height: normal;
    border: 1px solid #eee;
    border-top:none;
    background: #fff;
    div{
        float: left;
        overflow: hidden;
        padding:5px;
        width: 24%;
        border-right:1px solid #eee;
        h4{
            color:#fc4200;
            margin:5px;
            font-size:16px;
            font-weight:600;
            overflow: hidden;
        }
        li{
            width:24%;
            float:left;
            padding-top:5px;
            height:25px;
            overflow: hidden;
            a{
                float:left;
                height:25px;
                line-height: 25px;
                margin:0 2px;
                padding:0 8px;
                border-radius: 2px;
            }
        }
    }
    .zhuti{
        h4{
            color:#fc4200;
        }
        li{
            width:24%;
        }
        li a:hover{
            background:#fc4200;
            color:#fff;
        }
    }
    .tese{
        h4{
            color:#9fb838;
        }
        li{
            width:33%;
        }
        li a:hover{
            background:#9fb838;
            color:#fff;
        }
    }
    .aliapp{
        h4{
            color:#d75696;
        }
        li{
            width:33%;
        }
        li a:hover{
            background:#d75696;
            color:#fff;
        }
    }
    .tuijian{
        border-right:none;
        h4{
            color:#2e9fdb;
        }
        li{
            width:49%;
        }
        li a:hover{
            background:#2e9fdb;
            color:#fff;
        }
    }
}

.header_bot{
    padding-top:24px;
    height:97px;
    background:#fff;
    color:#3C3C3C;
}
.header_bot .wrap{
    position:relative;
}
.header_bot .logo{
    float:left;
    margin-top:8px;
}
.header_bot .logo a{
    display:block;
    margin-left:22px;
    width:142px;
    height:0;
    padding-top:58px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/top_logo.png);
}
.header_bot .search{
    width:630px;
    height:87px;
    margin-left:258px;
    margin-right:87px;
}

.header_bot .search_top .search_tab{
    height:22px;
    margin-left:17px;
}
.search_top .search_tab ul>li{
    float:left;
    text-align:center;
    color:#f40;
    width:36px;
    height:22px;
    line-height:22px;
    margin-right:4px;
    cursor:pointer;
}
.search_top .search_tab ul .selected{
    color:#fff;
    font-weight:700;
    background-image:$back_image;
    background-repeat:repeat-x;
    border-radius:6px 6px 0 0;
}
.search_top .search_panel{
    height:40px;
    position:relative;
}
.search_top .search_panel form .search_btn{
    position:absolute;
    right:0;
    top:0;
    width:74px;
    height:40px;
    text-align:center;
    overflow:hidden;
    border-radius:0 20px 20px 0;
}
.search_top .search_panel form .search_btn .btn_search{
    font-size:18px;
    font-weight:700;
    color:#fff;
    background-color:#ff4200;
    height:100%;
    width:100%;
    cursor:pointer;
    background-image:$back_image;
    background-repeat:repeat-x;
    border:0;
}
.search_top .search_panel form .search_panel_fields{
    border:2px solid #ff5000;
    border-right:none;
    height:36px;
    margin-right:74px;
    border-radius:20px 0 0 20px;
    overflow:hidden;
    i{
        font-size:16px;
        position:absolute;
        top:9px;
        left:14px;
        color:#666;
    }
    .search_placeholder{
        position:absolute;
        top:11px;
        left:34px;
        display:block;
        span{
            color:#9c9c9c;
            font-size: 12px; 
        }
        
    }
    .search_input_box{
        height:36px;
        width:472px;
        overflow:hidden;
        vertical-align: middle;
        .search_input{
            position: relative;
            z-index: 11;
            padding:6px 0 ;
            text-indent:10px;
            height:24px;
            line-height:24px;
            width:472px;
            border:none;
            outline:0;
            background:transparent;
            color:#000;
        }
    }
    span.tb-ifont{
        display:block;
        position:absolute;
        top:2px;
        right:90px;
        height:36px;
        width:24px;
        font-size:24px;
        color:#999;
        cursor:pointer;
    }
}
.h{
    color:#ff5000!important;
}
.search_footer{
    padding:5px 41px 0 0;
    height:20px;
    overflow:hidden;
    .search_footer_wrap{
        position:relative;
        .search_hots{
            height:18px;
            line-height:18px;
            margin-bottom:5px;
            a{
                float:left;
                margin-right:8px;
                color:#666;
            }
            a:hover{
                color:#ff5000;
            }
        }
        a.more{
            color:#666;
            position: absolute;
            top:0;
            right:-42px;
            i{
                font-size:12px;
            }
        }
        a.more:hover{
            color:#ff5000;
        }
    }
    
}

.header_qrcode{
    position:absolute;
    top:0;
    right:110px;
    .qrcode_bd{
        width:74px;
        heigth:88px;
        display:block;
        border:1px solid #eee;
        text-align: center;
        span{
            line-height:20px;
            margin:4px auto 0;
            width:78px;
        }
        img{
            display:block;
            width:62px;
            height:62px;
            margin-left:6px;
            border:0;
        }
    }
    .qrcode_close{
        position: absolute;
        top:0;
        left:-16px;
        display:block;
        width:14px;
        height:14px;
        border:1px solid #eee;
        s{
            width:14px;
            height:14px;
            text-align: center;
            line-height: 14px;
            display: block;
            font-size: 14px;
            color:#ddd;
        }
    }
}
