$color1:#ff5000;
$color2:#ff9000;

@import "iconfont";
@import "indexheader";
@import "indexmain";
@import "indexfooter";

body{
    background:#f4f4f4;
    color:#3c3c3c;
}
.wrap{
    width:1190px;
    margin:0 auto;
}

