$color1:#ff5000;
$color2:#ff9000;
$back_image:linear-gradient(to right,#ff9000 0,#ff5000 100%);

@import "iconfont";
@import "indexheader";
@import "indexmain";
@import "indexfooter";

body{
    background:#f4f4f4;
    color:#3c3c3c;
}
.wrap{
    width:1190px;
    margin:0 auto;
}
a{
    color:#3c3c3c;
}

