$color1:#ff5000;
$color2:#ff9000;
$back_image:linear-gradient(to right,#ff9000 0,#ff5000 100%);

@import "iconfont";

body{
    color:#3c3c3c;
    font: 12px/1.5 "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.wrap{
    width:1190px;
    margin:0 auto;
}
a{
    color:#3c3c3c;
}

.header_top{
    background:#f5f5f5;
    height:35px;
    line-height:35px;
    border-bottom:1px solid #eee;
}
.header_top a{
    color:#6c6c6c;
}
.header_top .wrap>ul>li>a:hover{
    .site-nav-icon{
        color:#ff5000;
    }
    color:#ff5000;
}
.header_top .site-nav-bd-l{
    float:left;
}
.header_top .site-nav-bd-r{
    float:right;
}
.header_top .site-nav-bd-l>li{
    float:left;
    padding:0 6px;
}
.site-nav-bd-l .site-nav-switch>span{
    float:left;
}
.site-nav-bd-l .site-nav-switch .site-nav-region{
    margin-right:7px;
}
.site-nav-switch{
    position: relative;
    .region-list{
        display: none;
        position: absolute;
        z-index: 10;
        padding:8px 0;
        left:-1px;
        top:35px;
        border:1px solid #eee;
        border-top:none;
        background:#fff;
        max-height:270px;
        overflow-y:scroll;
        .region_item{
            width:242px;
            height:29px;
            line-height:29px;
            padding-left:8px;
            cursor:pointer;
        }
        .region_item:hover{
            background:#f5f5f5;
        }
    }
    
}

.site-nav-switch:hover{
    background:#fff;
    .region-list{
        display: block;
    }
}

.site-nav-bd-l .site-nav-sign a{
    margin-right:7px;
}
.site-nav-bd-l .site-nav-sign .h{
    color:#f22e00!important;
}
.header_top .site-nav-bd-r>li>a{
    float:left;
}
.header_top .site-nav-bd-r>li{
    float:left;
    padding:0 6px;
    position: relative;
}
.header_top .site-nav-bd-r .site-nav-pipe{
    padding:0 5px;
    color:#ddd;
}
.header_top .site-nav-bd-r>li>a{
    margin-right:7px;
}
.header_top .site-nav-bd-r>li>a .site-nav-icon{
    display: block;
    height:35px;
    line-height: 35px;
    float:left;
}
.site-nav-bd-r>.xiala>ul{
    display:none;
    position:absolute;
    left:-1px;
    top:35px;
    z-index: 11;
    padding:8px 0;
    background:#fff;
    border:1px solid #eee;
    border-top:none;
    li{
        display:block;
        padding:0 5px;
        line-height:28px;
        white-space: nowrap;
        color: #6c6c6c;
    }
}
.site-nav-bd-r>.xiala>ul>li:hover{
    background:#f5f5f5;
}
.site-nav-bd-r>.xiala:hover{
    background:#fff;
    ul{
        display:block;
    }
    .webnav{
        display:block;
    }
}

.webnav{
    display:none;
    width:1188px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    left: auto;
    top:35px;
    z-index: 11;
    min-height: 258px;
    line-height: normal;
    border: 1px solid #eee;
    border-top:none;
    background: #fff;
    div{
        float: left;
        overflow: hidden;
        padding:5px;
        width: 24%;
        border-right:1px solid #eee;
        h4{
            color:#fc4200;
            margin:5px;
            font-size:16px;
            font-weight:600;
            overflow: hidden;
        }
        li{
            width:24%;
            float:left;
            padding-top:5px;
            height:25px;
            overflow: hidden;
            a{
                float:left;
                height:25px;
                line-height: 25px;
                margin:0 2px;
                padding:0 8px;
                border-radius: 2px;
            }
        }
    }
    .zhuti{
        h4{
            color:#fc4200;
        }
        li{
            width:24%;
        }
        li a:hover{
            background:#fc4200;
            color:#fff;
        }
    }
    .tese{
        h4{
            color:#9fb838;
        }
        li{
            width:33%;
        }
        li a:hover{
            background:#9fb838;
            color:#fff;
        }
    }
    .aliapp{
        h4{
            color:#d75696;
        }
        li{
            width:33%;
        }
        li a:hover{
            background:#d75696;
            color:#fff;
        }
    }
    .tuijian{
        border-right:none;
        h4{
            color:#2e9fdb;
        }
        li{
            width:49%;
        }
        li a:hover{
            background:#2e9fdb;
            color:#fff;
        }
    }
}

.header_bot{
    position: relative;
    height:43px;
    padding:20px 0;
    h1{
        display:inline-block;
        width:106px;
        height:43px;
        overflow: hidden;
        vertical-align: middle;
        a{
            display:block;
            color:#ff5b20;
            .iconfont{
                display:block;
                color:#ff4001;
                font-size:36px;
                font-weight: 400;
            }
            .tb-logo-cn{
                position: relative;
                top: -12px;
            }
            .tb-logo-url{
                font-size: 50px;
                position: relative;
                top: -61px;
            }
        }
    }
    h2{
        display: inline-block;
        height: 43px;
        line-height: 43px;
        margin-left: 6px;
        font-size: 22px;
        font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
        font-weight: 400;
        vertical-align: middle;
    }
}
